@(id: String, book: models.Book)
@import helper._

@main {
    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-3"><h4>Edit Book</h4></div>
            <div class="col-sm-2 col-sm-offset-2">
                <a href="@routes.Book.index()" class="btn btn-sm btn-primary" >Home</a>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
                @form(routes.Book.update(id)) {
                    <div class="form-group">
                        <label>Isbn :</label>
                        <input type="test" class="form-control" name="isbn" value="@book.getIsbn" required>
                    </div>
                    <div class="form-group">
                        <label>Title :</label>
                        <input type="test" class="form-control" name="title" value="@book.getTitle" required>
                    </div>
                    <div class="form-group">
                        <label>Author :</label>
                        <input type="test" class="form-control" name="author" value="@book.getAuthor" required>
                    </div>
                    <div class="form-group">
                        <label>Cover :</label>
                        <select name="cover" class="selectpicker">
                            @for(cover <- Cover.values()){
                                @if(cover.name() == book.getCover().toString){
                                    <option selected value="@cover.name">@cover.name()</option>
                                } else {
                                    <option value="@cover.name">@cover.name()</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2"><button type="submit" class="btn btn-success">Update</button></div>

                }
                            <div class="col-sm-2">
                                @form(routes.Book.delete(id)) {
                                <div clas="col-sm-2"><button type="submit" class="btn btn-danger">Delete</button></div>
                                }
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>


<script id="edit-page-template" type="text/x-handlebars-template">

    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-3"><h4>Edit Book</h4></div>
            <div class="col-sm-2 col-sm-offset-2">
                <a href="@routes.Book.home()" class="btn btn-sm btn-primary" >Home</a>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
                @form(routes.Book.update(id)) {
                <div class="form-group">
                    <label>Isbn :</label>
                    <input type="test" class="form-control" name="isbn" value="@book.getIsbn" required>
                </div>
                <div class="form-group">
                    <label>Title :</label>
                    <input type="test" class="form-control" name="title" value="@book.getTitle" required>
                </div>
                <div class="form-group">
                    <label>Author :</label>
                    <input type="test" class="form-control" name="author" value="@book.getAuthor" required>
                </div>
                <div class="form-group">
                    <label>Cover :</label>
                    <select name="cover" class="selectpicker">
                        @for(cover <- Cover.values()){
                        @if(cover.name() == book.getCover().toString){
                        <option selected value="@cover.name">@cover.name()</option>
                        } else {
                        <option value="@cover.name">@cover.name()</option>
                        }
                        }
                    </select>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2"><button type="submit" class="btn btn-success">Update</button></div>

                        }
                        <div class="col-sm-2">
                            @form(routes.Book.delete(id)) {
                            <div clas="col-sm-2"><button type="submit" class="btn btn-danger">Delete</button></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

</script>
}





